/* chatをline風に*/
.MdMN15Comment .mdMN15Scroll {
  background: #6fa1c7;
  padding-left: 6px;
}
.MdMN17Chat .mdMN17Inner2 {
  background: #00c402;
}
.MdMN17Chat .mdMN17Ttl,
.MdMN17Chat .mdMN17Desc{
  color: black;
}
.MdMN15Comment.mdMN15Type2 .mdMN15Notice::after {
  z-index: 0;
}
.MdMN15Comment .mdMN15Form {
  background: #fafafa;
}
.MdMN15Comment .mdMN15Write {
    border: solid 1px #e8e8e8;
    background-color: rgba(255, 255, 255, 1);
}
.MdMN15Comment .mdMN15Send {
  color: #ffffff;
  background: #5685e4;
}
.MdMN15Comment .mdMN15Hd a {
  /*color: white;*/
}
.MdMN15Comment.mdMN15Type1 .mdMN15Li1 a, .MdMN15Comment.mdMN15Type2 .mdMN15Li2 a, .MdMN15Comment.mdMN15Type3 .mdMN15Li3 a {
  color: white;
  box-shadow: inset 0 -1px 0 #ffffff;
}
.MdMN15Comment.mdMN15Type2 .mdMN15Notice .mdMN15Desc {
  color: white;
}